<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-/
<plist version="1.0">
<dict>
  <key>teamID</key>
  <string>...</string>
  <key>method</key>
  <string>mac-application</string>
  <key>uploadSymbols</key>
  <true/>
  <key>uploadBitcode</key>
  <true/>
  <key>thinning</key>
  <string>&lt;none&gt;</string>
</dict>
</plist>
